html,body{
    font-size:125%;
    font-size: 20px;
    height: 100%;
}
body{
    font-family: 'SimHei', sans-serif;
    width: 100%;
    height:100%;
    background:#f8f8f8;
    background-size: cover;
}
a {text-decoration:none !important;}
.information_header,.information_header ul{
    padding: 0;
    margin: 0.2rem 0 0.2rem 0;
}
.information_header  ul li{
    list-style: none;
    font-size: 0.7rem;
    text-align: center;
    padding: 0;
    float:left;
}
#li1, #li2, #li3 {
	position: relative;
	top: .4rem;
	width:24%
}
.portrait{
	width: 2rem;
	height: 2rem;
	border-radius: 3rem;
}
/* span.headname {
	position: relative;
	top: .3rem;
} */
li#li_1 {
	width: 28%;
	text-align: start;
	width: 28%;
	text-align: start;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
span.woman,.man {
	margin-left: .3rem;
}
.livefs_1{
     background:#f7b779 !important; 
    color: #ffffff !important;;
}
.livefs_2{
     background:#79A1F7 !important; 
    color: #ffffff !important;;
}
.livefs_3{
     background:#A279F7 !important; 
    color: #ffffff !important;;
}
.content,.container {
    padding: 0;
}
.content{
    margin-top: 0.5rem;
    
    -webkit-margin-bottom: 2rem;
}
.content ul{
	margin-bottom:.2rem;
}
.container{
    height: 100%;
}
.kongdiv{
	height: 3rem;
	float: left;
	width: 100%;
	padding-bottom: 5rem;
}
.content .height,.weigth{
    width: 45%;
}
.content table tbody tr {
    margin: 0.4rem 0 0.4rem 0;
}
#phone::-webkit-input-placeholder {
	font-size: .5rem;
	line-height: 1.2rem;
	text-align: center;
}

input[type="radio"] {
    position: relative;
    top: 0.1rem;
}
.content .boy,.marriage{
    padding-right: 1rem;
}
.content table tbody tr td {
    font-size: 0.8rem;
}
/* #s1,#s2{
    margin-left: .65rem;
} */
option {
    line-height: 1rem;
    height: 1rem;
}
tr#guanxin td {
	font-size: 0.8rem;
}
tr#guanxin {
	margin: 1rem 0 0 0;	
}
.message_next_a1,.message_next_a2,.message_next_a3{
    width: 50% !important;
    height: 1.5rem !important;
    line-height: 1.5rem !important;
    margin-top: 1rem;
}


.footer{
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0rem;
    background: #ffffff;
}
.footer span {
    font-size: 0.8rem;
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
}
.footer a{
    padding: 0;
}
.ddiv span{
    font-size: .7rem;
    float: left;
    padding:0 ;
    top: .5rem;
}
.ddiv ul{
    float: right;
    padding: 0;
}
.ddiv {
min-height: 2rem;
}
.ddiv ul li{
    display: inline-block;
	font-size: .6rem;
	background: #ffffff;
	border: 0.05rem solid #9c9ee9;
	color: #9c9ee9;
	margin: 0.2rem;
	text-align: center;
	min-width: 3rem;
	line-height: .9rem;
	/*padding: 0.2rem 0.3rem .15rem .3rem;*/
	padding: 0.01rem 0.2rem .01rem .2rem;
	border-radius: .5rem;
}
.active{
	color:rgb(126, 200, 136);
    border-bottom: 0.1rem solid rgb(126, 200, 136);
}
.information_header_li{
    cursor: pointer;
}



.family,.personage{
    margin: .1rem 0 .1rem 0;
    line-height: 1.5rem;
	/* padding-bottom: .4rem; */
	font-size: .7rem;
	border-bottom: 0.06rem solid rgb(226, 226, 226);
}
.personage_illness_3,.personage_illness_2,.personage_illness_1{
    padding: 0;
}

.personage_illness_1 ul li{
	color: #f7b779 ;
	border: 0.05rem solid #f7b779;
}
.personage_illness_2 ul li{
	color: #79A1F7;
	border: 0.05rem solid #79A1F7;
}
.personage_illness_3 ul li{
	color: #A279F7;
	border: 0.05rem solid #A279F7;
}
.personage_illness_1 ul li ,.personage_illness_2 ul li,.personage_illness_3 ul li{
    /*padding: 0.2rem 0.3rem .15rem .3rem;*/
    padding: 0.01rem 0.2rem .01rem .2rem;
	list-style: none;
	display: inline-block;
	margin: 0.2rem;
	border-radius: .5rem;
	font-size: .6rem;
	min-width: 3rem;
	text-align: center;
    background: #ffffff;
}
.personage_illness ul li ,.personage_illness ul .one{
    padding: 0.1rem 0.3rem .1rem .3rem;
    list-style: none;
    display: inline-block;
    color: #f7b779;
    border: 0.01rem solid #f7b779;
    margin: 0.2rem;
    border-radius: .5rem;
    background: #ffffff;
}
.personage_illness ul .two{
    padding: 0.1rem 0.3rem .1rem .3rem;
    list-style: none;
    display: inline-block;
    color: #ffffff;
    border: 0.01rem solid #f7b779;
    margin: 0.2rem;
    border-radius: .5rem;
    background: #f7b779;
}


.family_illness ul li,.family_illness ul .one{
    padding: 0.1rem 0.3rem .1rem .3rem;
    list-style: none;
    display: inline-block;
    border: 0.01rem solid #88d9c6;
    margin: 0.2rem;
    color: #88d9c6;
    border-radius: .5rem;
    background: #ffffff;
}
.family_illness ul .two{
    padding: 0.1rem 0.3rem .1rem .3rem;
    list-style: none;
    display: inline-block;
    border: 0.01rem solid #88d9c6;
    margin: 0.2rem;
    color: #ffffff;
    border-radius: .5rem;
    background: #88d9c6;
}


.personage_illness_3 ul,..personage_illness_2 ul ,.personage_illness_1 ul{
    padding: .5rem;
    margin:0 .4rem;
    font-size: .7rem;
}
.personage_illness ul,.family_illness ul{
    padding: .5rem;
    margin:0 .4rem;
    font-size: .7rem;
}



/* .Care_one {
    margin-left: 4%;
	margin-bottom: 1rem;
	min-height: 6.8rem;
}
.Care_one .Care_img{
    width: 4rem;
    height: 4rem;
    padding: 0;
    margin-left: 23%;
    margin-left: 27%;
}
.Care_one div img{
    width: 100%;
    padding: 0;
} */
.Care_img img{
	border-radius: 5rem;
	width: 3rem;
	height: 3rem;
}
.Care_img1 img{
	width: 0.5rem;
	position: relative;
	top: .8rem;
	left: 2.5rem;
}
.Care_img2 img{
	margin-top: .7rem;
	padding-left: 2.5rem;
}
.Care_one{
	padding: .5rem 0;
	border-bottom: .05rem solid rgb(218, 218, 218);
}
.Care_addr {
	color: rgb(195, 195, 195);
}
.Care_img{
	padding:0;
}
.Care_one span{
    padding: 0 0 0 0rem;
    font-size: .7rem;
}
.Care_one i{
	padding: 0 0 0 0rem;
    font-size: .7rem;
    font-style:normal;
    line-height: 1rem;
	display: inline-block;
}
.cancel{
	text-align: center;
	padding-left: 1.2rem;
	margin: 0;
	color:#04be02;
	font-size: .6rem;
}
.add{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    line-height: 2.33333333;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
    width: 50% !important;
    height: 1.5rem !important;
    line-height: 1.5rem !important;
    margin-top: 1rem;
}

.footer a .TJ_guide_img {
	height: 1rem;
	width: 1rem;
	margin-bottom: .1rem;
	margin-left: 40% !important;
}
.footer a .my_message_img {
	height: 1rem;
	width: 1rem;
	margin-bottom: .1rem;
}

.My_health_img {
	height: 1rem;
	width: 1rem;
	margin-bottom: .1rem;
}
.footer a img{
	margin-left: 41%; 
	height: 1rem;
	width: 1rem;
	top: .2rem;
	position: relative;
}


input.Wdate {
	width: 70%;
}
select#pro, #pro1{
	width: 47%;
}

.cf{
	float: left;
	width: 100%;
	/* margin-top: 1rem; */
	/* border-bottom: .05rem solid; */
}
.cf li {
	width: 50%;
	float: left;
	list-style: none;
	font-size: .8rem;
}
#trname{
	padding:0;
}
#relation_{
	font-size: 0.6rem;
	padding: 0 .5rem 0 .5rem;
	line-height: 1rem;
	/* margin-left: 1rem; */
	position: relative;
	top:-.1rem;
}
.addguanxi{
	float: left;
	width: 100%;
	line-height: 1.7rem;
}
.gx{
	font-size: .8rem;
	padding-top: 0.5rem;
	display: inline-block;
}
.color{
	color:#04be02 !important;
}
.sele{
	float: left;
	width: 100%;
	font-size: .8rem;
	margin-top: .5rem;
	padding-left: 0.7rem;
	border-bottom: .05rem solid rgb(218, 218, 218);
}
#col{
	color:#04be02;
}
