html,body{
    font-size:125%;
    font-size: 20px;
    height: 100%;
}
body{
    font-family: 'SimHei', sans-serif;
    width: 100%;
    background: #f8f8f8;
    background-size: cover;
    
}
a {text-decoration:none !important;}
.footer{
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0rem;
    background: #ffffff;
}
.footer span {
    /*padding: 0.1rem 0.3rem;*/
    font-size: 0.8rem;
    /*width: 5.5rem;*/
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: #2a6496;
}

.footer a .TJ_guide_img{
	height: 1rem;
	width: 1rem;
	/* margin-left: 36%; */
	margin-bottom: .1rem;
}
.footer a .my_message_img {
	height: 1rem;
	width: 1rem;
 	margin-bottom: .1rem;
}

.footer a img{
   margin-left: 37%;
	height: 1rem;
	width: 1rem;
	top: .2rem;
	position: relative;
}
.footer a .My_health_img {
	height: 1rem;
	width: 1rem;
	margin-bottom: .1rem;
}
#nav ul{
    display: inline-block;
}
#nav ,.relevance ul{
    padding: 0;
    width:100%;
    }
.swiper-slide {
            text-align: center;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
.relevance li {
	list-style: none;
	/* float: left; */
	text-align: center;
	border: .01rem solid #9b91f5;
	border-radius: 1rem;
	background: #ECECEC;
	color: #9b91f5;
	display: inline;
	white-space: nowrap;
	padding: .02rem .5rem;
	font-size: .8rem;
	margin: 1.2%;
	line-height: 1rem;
	margin-right: .2rem !important;
}
#nav{
	overflow: hidden;
	width: 100%;
}
#nav ul .relevanceMY{
    background: #9b91f5;
    color: #f5fff5;
}

h4{
    font-weight: bolder;
}
article {
    font-size: 0.7rem;
}
.jcxm,.source,.tijian_pl1{
    padding: 0;
    display: block;
    font-size: 0.7rem !important;
}
.tijian_pl2,.jc_project{
	padding: 0;
	font-size: 0.7rem !important;
	
}
.source_adr{
   padding: 0;
	
	font-size: 0.6rem !important;
	/*color: #867E7E;*/
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: -o-ellipsis-lastline;
	text-overflow: ellipsis;
	/* display: -webkit-box; */
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.zhiconceal{
   padding: 0;
	
	font-size: 0.6rem !important;
	/*color: #867E7E;*/
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: -o-ellipsis-lastline;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.jc_project,.zhiN{
    /*display: box;			  *//* OLD - Android 4.4- */
    /*display: -webkit-box;	  *//* OLD - iOS 6-, Safari 3.1-6 */
    /*display: -moz-box;		 *//* OLD - Firefox 19- (buggy but mostly works) */
    /*display: -ms-flexbox;	  *//* TWEENER - IE 10 */
    /*display: -webkit-flex;	 *//* NEW - Chrome */
    /*display: flex;*/
}
.weui_btn_primary {
 background-color: #ffffff;
}
.weui_btn:after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	border-radius: 10px;
}
.jcxm,.source{

    text-align: left;
}
.xm{
	padding:0;
	font-size: .8rem;
}
.pl,.source_adr{
	padding:0;
    text-align: left;
    margin: 0 0 0.3rem 0 !important;
}
#subgroup1:before{
	
}
.jc_project,.zhiN,.tijian_pl{
    padding: 0;
    margin: 0 0 0.5rem 0;
    line-height: 1rem;
}
.zhisource div,.zhilaiyuan div ,.trait_ .trait_lai,.trait_div{
	padding: 0;
	line-height: 1.2rem;
}
.zhisource,.zhilaiyuan,.trait_  {
	padding: 0;
	/*  margin-bottom: .5rem;*/
}
.active_{
	color: #000 !important;
}
.subgroup1{
	color: #C0BEBE;
}
.subdiv{
	border-bottom: 0.06rem solid #CEC5D6 !important;
	float: left;
	padding: 0.2rem 0 .3rem 0;
}
.del{
	color: #C0BEBE !important;
}
/* .touch {
    border-bottom: 0.06rem solid #CEC5D6 !important;

} */
.row {
    margin-right: -10px;
    margin-left: -11px;
}
.container{
    padding: 0;
    /*height: 100%;*/
    background: #ffffff;
    overflow: hidden;
}


div#group_ li {
	list-style: none;
	font-size: .8rem;
	padding: 0;
	float: left;
	text-align: center;
}
#group_ .subgroup{
	color: #ADACAC;
}
#group_ .active{
	color:#000000;
}
em{
	font-style: normal;
}
.trait{
	font-size: .6rem;
	float: left;
	padding: .0rem .2rem !important;
	border: .07rem solid #CEC5D6;
	margin: .1rem;
	border-radius: 1rem;
	text-align: center;
	color:#000;
}
.zhi_source {
	font-size: .6rem;
	float: left;
	padding: .0rem .2rem !important;
	/* border: .07rem solid #CEC5D6; */
	margin: .1rem;
	border-radius: 1rem;
	text-align: center;
	color:#000;
	line-height: 1.2rem;
}
#idname{
	color:#C0BEBE;
}
/* .tex {
	color: #C0BEBE;
}
#idcolor1 ,#idcolor{
	color: #C0BEBE;
} */
.comma1 {
	float: left;
}
.xmtable {
    margin-top: .5rem;
    margin-bottom: 3rem;
    padding: 0rem;
}
.remove{
	width: 1rem;
	height: 1rem;
	display: block;
	text-align: center;
	padding: 0;
	color: #000;
	font-size: .6rem;
}

.deletli{
	/* border: .07rem solid #F4F0F8;
	width: 3.5rem;
	border-radius: .5rem; */
	line-height: 1rem;
	margin-top: .1rem;
}
/* .xmtable .item:first-child{
    border-top: 0.06rem solid #CEC5D6 !important;
    border-bottom: 0.06rem solid #CEC5D6 !important;
} */
.xmtable tbody  tr:nth-child(2n+1){
    background: #f8f8f8;
}
.xmtable tbody  tr:nth-child(2n){
    background:#E7E4EC;
}
.item{
    overflow: hidden;
    padding: 0.2rem 0.5rem;
}
.item td{
    padding: 0;
    text-align: center;
    font-size: 0.8rem;
}

.item.selected {
    -webkit-transform: translate(-18%,0);
    -webkit-transition: all 0.3s linear;
}
.trait_lai{
	line-height: 1.4rem;
	float: left;
}
.headline{
	display: inline-block;
	font-size: .7rem;
	margin-right: .2rem;
	line-height: 1.1rem;
	padding: .08rem;
}
.buy_div{
	margin: 10% 25% 26% 25%;
}
.buy {
	width: 50% !important;
	height: 1.5rem !important;
	line-height: 1.5rem !important;
	/* border: .05rem solid rgb(126, 200, 136); */
	border-radius: .51rem;
	text-align: center;
	/* float: right; */
	padding: 0;
	color: #04be02;
	border: 1px solid #04be02;
}





