li{
	list-style:none;
	font-size: .8rem;
	line-height: 1.5rem;
}
 i{ font-style:normal}

.header {
	border-bottom: .05rem solid;
	height: 5rem;
	/* line-height: 5rem; */
	padding-top: 3rem;
	padding-left: 2rem;
}
.header p{
	color: red;
}
.order_number ul{
	border-bottom: .05rem solid;
}
.order_number{
	padding:0;
}
.subscribe{
	display: block;
	border: .05rem solid;
	width: 38%;
	text-align: center;
	border-radius: 1rem;
	margin: 0 auto;
}






























